/*CASE STUDIES - CASE STUDIES : */
  
.Nav-image{
  position: center;
}

.introduction {
  font-family: 'Times New Roman', Times, serif;
  font-style: Italic;
  font-size: small;
  font-weight: normal;
  word-spacing: 0.6px;
}

.Studycase1 {
  padding: 150px;
  display: flex;
  align-items: center; 
  justify-content: center;
 }
 .Studycasetext1 {
  text-align: justify;
  padding-left: 70px;
 }

 .Studycase2 {
  padding: 150px;
  display: flex;
  align-items: center; 
  justify-content: center;
}
.Studycasetext2 {
  text-align: justify;
  padding-left: 70px;
}

.Studycase3 {
  padding: 150px;
  display: flex;
  align-items: center; 
  justify-content: center;
 }
 .Studycasetext3 {
  text-align: justify;
  padding-left: 70px;
}

 .Studycase4 {
  padding: 150px;
  display: flex;
  align-items: center; 
  justify-content: center;
 }
 .Studycasetext4 {
  text-align: justify;
  padding-left: 70px;
}

 .Studycase5 {
  padding: 150px;
  display: flex;
  align-items: center; 
  justify-content: center;
 }
 .Studycasetext5 {
  text-align: justify;
  padding-left: 70px;
}

 .Studycase6 {
  padding: 150px;
  display: flex;
  align-items: center; 
  justify-content: center;
 }
 .Studycasetext6 {
  text-align: justify;
  padding-left: 70px;
}

/*FOOTER*/
  footer{
   background-color: #240046;
  }

  .footercontainer {
    width: 100%;
    padding: 70px 30px 20px;
  }

  .socialIcons{
    display:flex;
    justify-content: center;
  }

  .socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    margin-top: 40px;
    border-radius: 50%;
  }

  .socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
  }

  /*hover effects on social media Icons*/
  .socialIcons a:hover{
    background-color: black;
    transition: 0.5s;
  }

  .socialIcons a:hover i{
    background-color: white;
    transition: 0.5s;
  }

  .footerNav{
    margin: 30px 0;
  }

  .footerNav ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
  }

  .footerNav ul li a{
    color:white;
    margin:20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0em;
    opacity: 0.7;
    transition: 0.5s;
  }

  .footerNav ul li a:hover{
    opacity:1;
  }

  .footerBottom {
    background-color: #240046;
    padding: 20px;
    text-align: center;
  }

  .footerBottom p{
    color: white;
  }

  .designer{
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    
  }

@media (max-width: 700px){
  .footerNav ul{
    flex-direction:column;
  }

  .footerNav ul li {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
  }
}

/* DONATE CSS */

.donation-container{
  height: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 30px;
}
.donation-box{
  width: 390px;
  height: 386px;
  background-color: #F5F5F5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.donation-box .title{
  background-color: #159F91;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
}
.donation-box .donate-button {
background-color: #159F91;
width: 100%;
color: white;
text-align: center;
padding-top: 12px;
padding-bottom: 12px;
font-size: 18px;
bottom: 0px;
position: absolute;
cursor: pointer;
font-weight: 800;
}

.donation-box .fields {
width: 59%;
display: block;
position: absolute;
top: 60px;
left: 15px;
}

.donation-box .fields input {
width: 90%;
font-size: 17px;
padding: 10px;
border-radius: 4px;
border-width: 0px;
color: #5C5C5C;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
margin-bottom: 10px;
-webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
 color: #cdcdcd;
 font-size: 15px;
}

:-moz-placeholder { /* Firefox 18- */
 color: #cdcdcd;
 font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #cdcdcd;
 font-size: 15px; 
}

:-ms-input-placeholder {  
 color: #cdcdcd;
 font-size: 15px;
}

.donation-box .amount {
width: 30%;
display: block;
position: absolute;
top: 60px;
right: 15px;
}

.donation-box .amount .button {
width: 100%;
background-color: gray;
margin-bottom: 10px;
text-align: center;
color: white;
padding: 15px 0px 15px 0px;
border-radius: 4px;
font-size: 20px;
cursor: pointer;

-webkit-transition: 400ms background-color;
-moz-transition: 800ms opacity, 800ms right;
-ms-transition: 800ms opacity, 800ms right;
-o-transition: 800ms opacity, 800ms right;
transition: 200ms background-color;
}

.donation-box .amount .button:hover {
background-color: #393939;
}

.donation-box .amount .button.selected {
background-color: #393939;
}

.donation-box .amount .button input {
min-width: 34px;
font-size: 20px;
font-weight: 500;
border: none;
background-color: transparent;
color: white;
font-family: Montserrat, sans-serif;
font-size: 20px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: 500;
border-bottom: 2px dashed white;
-webkit-font-smoothing: antialiased;

-webkit-transition: all 0.15s ease-out;
-moz-transition: all 0.15s ease-out;
-o-transition: all 0.15s ease-out;
transition: all 0.15s ease-out;
}

.set-amount {
max-width: 96px;
}

.checkboxes {
position: absolute;
top: 242px;
left: 13px;
}

.checkboxes label {
position: relative;
top: -8px;
font-size: 13px;
color: gray;
}

.checkbox {
-webkit-appearance: none;
background-color: #fafafa;
border: 1px solid #159F91;
padding: 9px;
border-radius: 3px;
display: inline-block;
position: relative;

-webkit-transition: all 0.15s ease-out;
-moz-transition: all 0.15s ease-out;
-o-transition: all 0.15s ease-out;
transition: all 0.15s ease-out;
}

.checkbox:active, .checkbox:checked:active {

}

.checkbox:checked {
background-color: #159F91;
border: 1px solid #159F91;
color: white;
}

.checkbox:checked:after {
content: '\2714';
font-size: 14px;
position: absolute;
top: 0px;
left: 3px;
color: white;
}

.confirm {
display: none;
position: absolute;
top: 335px;
left: 15px;
right: 15px;
font-size: 16px;

-webkit-transition: all 0.15s ease-out;
-moz-transition: all 0.15s ease-out;
-o-transition: all 0.15s ease-out;
transition: all 0.15s ease-out;
}

.confirm i {
font-weight: bold;
text-decoration: underline;
font-style: normal;
}

/* Nav CSS */

.navigation-bar {
width: 100%;  /* i'm assuming full width */
height: 80px; /* change it to desired width */
background-color: #240046; /* change to desired color */
}

.logo {
display: inline-block;
vertical-align: top;
 font-family: 'Montserrat', sans-serif;
line-height:45px;
font-size: 40px;
color: #fff;
padding-left: 20px;
margin-right: 20px;
margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}

.navigation-bar > a {
float: right;
vertical-align: top;
text-decoration: none;
margin-right: 20px;
height: 80px;        /* if you want it to take the full height of the bar */
line-height: 80px;    /* if you want it vertically middle of the navbar */
font-family: 'Montserrat', sans-serif;
color: white;

}

/* HOME PAGE CSS */

h2 {
  color:#159F91;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.headerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h3 {
  color:#159F91;
  font-family: 'Montserrat', sans-serif;
}

.Home-About
{
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px 0;
  text-align: center;

}

.Home-Cases
{
  color:#1EE3CF;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


.headerimage
{
  padding: 40px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.cardslider{
height: 30vh;
display: flex;
align-items: center;
justify-content: center;
background: #fff;
}

section{
position: relative;  
height: 450px;
width: 1075px;
display: flex;
align-items: center;
}

.swiper{
width: 950px;
}

.card{
position: relative;
background: #fff;
border-radius: 20px;
margin: 20px 0;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
content: "";
position: absolute;
height: 40%;
width: 100%;
background: #159F91;
border-radius: 20px 20px 0 0;
}

.card .card-content{
display: flex;
flex-direction: column;
align-items: center;
padding: 30px;
position: relative;
z-index: 100;
}

section .card .image{
height: 140px;
width: 140px;
border-radius: 50%;
padding: 3px;
background: #240046;
}

section .card .image img{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 50%;
border: 3px solid #fff;
}

.card .name-profession{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10px;
color: #000;
} 

.name-profession .name{
font-size: 20px;
font-weight: 600;
}

.name-profession .profession{
font-size:15px;
font-weight: 500;
}

.swiper-pagination{
position: absolute;
}

.swiper-pagination-bullet{
height: 7px;
width: 26px;
border-radius: 25px;
background: #240046;
}

.swiper-button-next, .swiper-button-prev{
opacity: 0.7;
color: #240046;
transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
opacity: 1;
color: #240046;
}
